<mat-toolbar>
    <img src="../../../assets/img/logo-atom-chat.png" height="80%" alt="Atom-logo">
    <div class="subtitle">Challenge</div>
    <a color="primary" routerLink="/app/user-tasks" [disabled]="currentPath === PATH_USER_TASKS" mat-button >Tareas</a>
    <a color="primary" routerLink="/app/dev-notes" [disabled]="currentPath === PATH_DEV_NOTES" mat-button >Dev Notes</a>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    
  </mat-toolbar>
  
<router-outlet  />
