<div class="main-w">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card class="flex-box">
      <mat-card-header style="justify-content: center;">
        <img src="../../../assets/img/logo-atom-chat.png" alt="Atom-logo">
        <div class="flex-column-center">
          <mat-card-title>LOGIN</mat-card-title>
          <mat-card-subtitle>Challenge</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content class="flex-column-center">
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input matInput placeholder="email@example.com" type="email" formControlName="email" id="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="**********" formControlName="password" id="password">
        </mat-form-field>
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
          <div *ngIf="loginForm.get('email')?.errors?.['email']">
            <p class="error-message">El correo electrónico no tiene un formato válido.</p>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="flex-column-center it-end">
        <button type="submit" mat-flat-button color="primary" [disabled]="!loginForm.valid">Aceptar</button>
        <br>
        <a routerLink="/signup">Crear nueva cuenta</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>